name: CI

on:
  push:
  pull_request:

jobs:
  macos-build-test:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: swift build --configuration release

      - name: Test
        run: swift test
